<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div align="center">
		<h2>Sample Text File:</h2>
		<tr>
			<div align="center"></div>
		</tr>
		<tr>
			<div class="col-sm-5" align="center">
				<div class="panel-body" align="center">


					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>Employee ID</th>
								<th>CARD TYPE</th>
								<th>TITLE</th>
								<th>CUSTOMER NAME</th>
								<th>D_O_B</th>
								<th>SEX</th>
								<th>ADDRESS</th>
								<th>LIMIT AMT(DOM)</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="customer : ${listcustomer}">
								<td th:text="${customer.id}">Employee ID</td>
								<td th:text="${customer.card_type}">CARD TYPE</td>
								<td th:text="${customer.title}">TITLE</td>
								<td th:text="${customer.name}">CUSTOMER NAME</td>
								<td th:text="${customer.d_o_b}">D_O_B</td>
								<td th:text="${customer.sex}">SEX</td>
								<td th:text="${customer.Adress}">ADDRESS</td>
								<td th:text="${customer.limit_amt}">LIMIT AMT(DOM)</td>

							</tr>

						</tbody>
					</table>
					<p>Click on the download button for exporting data into the
						excel file.</p>
					<a href="http://localhost:8080/export-to-excel"
						class="btn btn-primary">Download the Excel File</a>

				</div>

			</div>

		</tr>

		</tbody>
		</table>
		<div>
</body>
</html>